* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: lightblue;

}
header {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    background-color: darkblue;
}
.header h1{
    display: inline-block;
    color: white;
    font-size: 45px;
    background-color: lightseagreen;
    padding: 5px; padding-left: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 75
    
}
.header div{
    float: right;
    }

.header div ul li {
        display: inline-block;
        margin-left: 40px;
        margin-top: 20px;
        margin-right: 50px;
} 
a {
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
    
}
.article {
    display: inline-block;
    
    
}
.article h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 75;
    color: white;
    margin-top: 50px;
    background-color: lightseagreen;
    padding: 10px;
    font-size: 50px;
}
.article p {
    font-size: 25px;
    margin-left: 200%;
    display: flex;
    

}