* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(252, 241, 243);

}
header {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    background-image: url(../images/adrian-infernus-GLf7bAwCdYg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    color: black;

}
.header h1{
    display: inline-block;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 75
    
}
.header h1::before {
    display: flex;
    flex-wrap: wrap;
    height: 10px;
    width: 2%;

}
.header div{
    float: right;
    }

.header div ul li {
        display: inline-block;
        margin-left: 40px;
        margin-top: 20px;
        margin-right: 50px;
} 

ul a {
    color: black;
    font-size: 30px;
    
}
.subtitle{
    font-size: 45px;
    background-image: url(../images/adrian-infernus-GLf7bAwCdYg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    padding: 28px;
    display: inline;
    position: absolute;
    margin-left: 74%;
    margin-top: -200px;
    
}
.article {
    display: inline-block;
    
    
    
}

.article h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 75;
    color: black;
    margin-top: 50px;
    padding: 10px;
    font-size: 50px;
    display: inline-block;
    margin-left: 50px;
    border-right-style: solid;

}

.article-about-me {
    display: flex;
    flex-wrap: wrap;
    color: black;
    font-size: 25px;
    justify-content: center;    
    border-style: solid;
    border-width: 3px;
    margin-left: 400px;
    margin-right: 300px;
    margin-top: -100px;
}
.work-section {
    position: relative;
    display: inline-block;
    margin-left: 400px;
    margin-bottom: 400px;
    margin-top: 300px;
}
.text-box-calc{
    position: absolute;
    bottom: 20px;
    right: 10px;
    background-color: rgb(252, 241, 243);
    color: black;
    border-style: double;
    padding: 3px;

}
.text-box-led{
    position: absolute;
    bottom: 20px;
    right: 10px;
    background-color: rgb(252, 241, 243);
    color: black;
    border-style: double;
    padding: 3px;

}

.cherry-blossom {
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/mark-tegethoff-NMLv5HQZnK4-unsplash.jpg");
    background-size: cover;
    background-position: center; 
}