* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(252, 241, 243);

}
header {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    background-image: url(../images/adrian-infernus-GLf7bAwCdYg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    color: black;

}
.header h1{
    display: inline-block;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 75
    
}

.header div{
    float: right;
    }

.header div ul li {
        display: inline-block;
        margin-left: 40px;
        margin-top: 20px;
        margin-right: 50px;
} 

ul a {
    color: black;
    font-size: 30px;
    
}
.subtitle{
    font-size: 45px;
    background-image: url(../images/adrian-infernus-GLf7bAwCdYg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    padding: 28px;
    display: inline;
    position: absolute;
    margin-left: 74%;
    margin-top: -200px;
    
}
#about-flex {
    display: flex;
    height: 200px;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 75;
    color: black;
    margin-top: 50px;
    padding: 10px;
    font-size: 50px;
    margin-left: 50px;
    border-right-style: solid;
    flex: 0 0 20% !important;
    width: 10%;

}
#Work {
    height: 900px;
}
.article-about-me {
    display: flex;
    flex-wrap: wrap;
    color: black;
    font-size: 25px;
    justify-content: center;    
    border-style: double;
    border-width: 3px;
    margin-left: 100px;
    margin-right: 500px;
    margin-top: 60px;
}
.work-div {
    display: flex;
    flex-direction: row;
}
.work-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.first-img {
    background-image: url(../images/mark-tegethoff-NMLv5HQZnK4-unsplash.jpg);
    margin: 20px;
    border-style: double;
    border-color: black;
}
.second-img {
    background-image: url(../images/mark-tegethoff-NMLv5HQZnK4-unsplash.jpg);
    margin: 20px;
    border-style: double;
    border-color: black;
}
.third-img {
    background-image: url(../images/mark-tegethoff-NMLv5HQZnK4-unsplash.jpg);
    margin: 20px;
    border-style: double;
    border-color: black;
}
.marketing-img {
    background-image: url(../images/digital-marketing-meeting.jpg);
    margin: 20px;
    background-position: center;
    background-size: cover;
    border-style: double;
    border-color: black;
    max-height: fit-content;
}
.img-textbox{
    background-color: rgb(252, 241, 243);
    color: black;
    border-style: double;
    padding: 3px;
    width: 30%;
    margin: 15px;
}

.cherry-blossom {
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/mark-tegethoff-NMLv5HQZnK4-unsplash.jpg");
    background-size: cover;
    background-position: center; 
}
.contact{
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 30px;
    margin: 20px;    
    margin-top: 70px;
}
.marketing-img:hover{
    filter: brightness(120%);
}
.first-img:hover{
    filter: brightness(120%);
}
.second-img:hover{
    filter: brightness(120%);
}
.third-img:hover{
    filter: brightness(120%);
}